<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
<body ng-app="starter">

  <ion-pane ng-controller="tableController as tableCtrl">
    
    <ion-header-bar class="bar bar-header bar-positive" align-title="center">
      <button class="button icon ion-plus"
        ng-click="buttonAction()"
      ></button>
      <h1 class="title">Naslovnica</h1>
    </ion-header-bar>


    <ion-content>

      <div class="list">
          <div class="item" ng-repeat="user in tableCtrl.users" id="{{$index}}">
            {{user.ime}}
            {{user.prezime}}
            <a class="button icon-right ion-chevron-right button-clear button-dark right" ng-click="editUserModal(user)"></a>
            <button class="button button-small right button-assertive" ng-click="delete(user)">
              OBRIŠI
            </button>
          </div>
      </div>
    </ion-content>


  </ion-pane>
</body>
</html>
