<div id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar align-title="center">
      <h1 class="title">Dodaj korisnika</h1>
      <button class="button icon ion-close"
        ng-click="closeModal()"
      ></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Ime</span>
          <input type="text" ng-model="modal.ime">
        </label>
        <label class="item item-input">
          <span class="input-label">Prezime</span>
          <input type="text" ng-model="modal.prezime">
        </label>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="modalButtonAction(modal.ime, modal.prezime)">
            Dodaj
          </button>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</div>